@import '../../assets/styles/color.scss';

.home-container {
  main {
    padding: 9rem 4rem 3rem;

    .featured-container {
      width: 100%;
      height: 38rem;
      background-color: $color-primary;
    }

    .category-container {
      width: 100%;
      height: 10rem;
      background-color: greenyellow;
      margin: 2rem 0 4rem;
    }

    h2 {
      font-size: 2.4rem;
      text-transform: uppercase;
      font-weight: 300;
    }
  
    .collection-container {
      width: 100%;
      // background-color: $color-grey;
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}