@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import './color.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
html {
  font-family: Roboto, sans-serif;
  color: $color-black;
  background-color: #fefefe;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 481px) {
  html {
    font-size: 47.5%;
  }
}