.item-container {
  width: 23%;
  border: 1px solid hsla(0,0%,92.2%,.8);
  border-radius: .4rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  a {
    display: flex;
    justify-content: center;
    
    .img-container {
      width: 20rem;
      height: 20rem;
      align-self: center;
    }
  }

  .item-info-container {
    padding: 1.5rem 1rem;

    .item-title {
      font-size: 1.5rem;
    }

    .item-price {
      font-size: 2rem;
      font-weight: 700;
      margin: 1rem 0;
    }
  }
}

@media (max-width:768px) {
  .item-container {
    width: 30%;

    .img-container {
      width: 15rem;
      height: 15rem;
    }
  }
}

@media (max-width:481px) {
  .item-container {
    width: 48%;

    .img-container {
      width: 15rem;
      height: 15rem;
    }
  }
}
