.item-container {
  width: 23%;
  // height: 20rem;
  border: 1px solid hsla(0,0%,92.2%,.8);
  border-radius: .4rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  .img-container {
    width: 20rem;
    height: 20rem;
    align-self: center;
  }

  .item-info-container {
    padding: 1.5rem 1rem;

    .item-title {
      font-size: 1.6rem;
    }
  }
}